blis==0.2.4
certifi==2019.3.9
chardet==3.0.4
colorama==0.4.1
Django==2.2.1
django-crispy-forms==1.7.2
django-form-utils==1.0.3
django-pandas==0.6.1
idna==2.8
imageio==2.5.0
jsonschema==2.6.0
matplotlib
mglearn
nltk
numpy
pandas
plac
pydotplus
scikit-learn
scipy
spacy
sqlparse
notebook