{% extends "tracker/base.html" %}

{% block custom_js %}
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>

<style type="text/css">
    table {
        width:  100%;
        border-collapse: collapse;
    }
    td {
        border: 1px solid black;
    }
    .scrollingTable {
        overflow-y: auto;
        width: 100%
    }

    .myDIV {
        //  border: 1px solid black;
        //background-color: lightblue;
        width: 100%;
        height: 200px;
        overflow-y: scroll;
    }

    .glyphicon.glyphicon-one-fine-dot:before {
        content: "\25cf";
        font-size: 1.5em;
        color:green;
    }
    .glyphicon.glyphicon-one-fine-dot2:before {
        content: "\25cf";
        font-size: 1.5em;
        color: orange;
    }
    .glyphicon.glyphicon-one-fine-dot3:before {
        content: "\25cf";
        font-size: 1.5em;
        color: red;
    }

</style>


{% endblock custom_js %}

{% block content %}

        <h2>
            {{ object.type }} {{ event.reference }}
            {% if event.status == 1 %}
                <span class="glyphicon glyphicon-one-fine-dot"></span>
            {% endif %}
            {% if event.status == 2 %}
                <span class="glyphicon glyphicon-one-fine-dot2"></span>
            {% endif %}
            {% if event.status == 3 %}
                <span class="glyphicon glyphicon-one-fine-dot3"></span>
            {% endif %}
        </h2>
        <p> {{ object.resolution_date }} </p>
        <!--<p id="demo_{{ event.id }}"></p>-->

        {% if object.assigned_person == user %}
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'event-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'event-delete' object.id %}">Delete</a>
        {% endif %}

        <p>Event type: {{ event.type }}</p>
        <p>Reference: {{ event.reference }} </a></p>
        <p>Resolution date: {{ event.resolution_date }} </p>
            {% if event.status == 1 %}
                <p>Status: Active</p>
            {% endif %}
            {% if event.status == 2 %}
                <p>Status: Close to breach</p>
            {% endif %}
            {% if event.status == 3 %}
                <p>Status: Breached</p>
            {% endif %}
        <p>Event priority: {{ event.priority }} </p>
        <p>Assigned team: {{ event.assigned_team }} </p>
        <p>Assigned person: {{ event.assigned_person }} </p>
        <p>Event summary: {{ event.summary }} </p>
{% endblock content %}