<!--{% extends "tracker/base.html" %}-->
{% load crispy_forms_tags %}
{% block content %}

    <h2>Login</h2>
    <div class="content-section">
        <form method="POST">
            <!--Added security-->
            {% csrf_token %}
                      <div class="container">
                        <div class='col-md-10' style="position: relative; margin-left: 10%">
                            <div style="position: relative">
                                {{ form|crispy }}
                            </div>
                        </div>
                      </div>
            <div class="form-group" style="position: relative; margin-left: 45%">
                <button id="login-button" class="btn btn-outline-info" type="submit">Login</button>
                <small class="text-muted ml-2">
                </small>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">

            </small>
        </div>
    </div>
{% endblock content %}