{% extends "tracker/base.html" %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Model performance</h1>
<!--          <img src="C:\Users\j.turnbull\PycharmProjects\SentimentApp\ResultDiagrams\ngramCoef.png" alt="W3Schools">-->
<!--        </a>-->
        <a href="{%static 'img/chartPhoto.svg'%}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" download>
          <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
        </a>
      </div>
        <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

      <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-4 col-md-6 mb-4">
          <div id="precision" class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="h5 mb-0 font-weight-bold text-gray-800" style="text-align: center"> Precision </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-bullseye  fa-2x text-gray-300"></i>
                  <i class="fas fa-bullseye-arrow"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-4 col-md-6 mb-4">
          <div id="recall" class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="h5 mb-0 font-weight-bold text-gray-800" style="text-align: center"> Recall </div>
                  <div class="row no-gutters align-items-center">
                  </div>
                </div>
                <div class="col-auto">
<!--                  <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>-->
                  <i class="fas fa-history fa-2x text-gray-300"></i>
<!--                  <i class="far fa-history"></i>-->
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Reviews tab -->
        <div class="col-xl-4 col-md-6 mb-4">
          <div id="f1" class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="h5 mb-0 font-weight-bold text-gray-800" style="text-align: center"> F1-score </div>
                </div>
                <div class="col-auto">
<!--                  <i class="fas fa-comments fa-2x text-gray-300"></i>-->
                  <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




      <!-- Content Row -->

      <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-7">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Sentiment overview</h6>
              <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                  <div class="dropdown-header">Dropdown Header:</div>
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <div id="chart-area" class="chart-area">
                <canvas id="myAreaChart"></canvas>
              </div>
            </div>
          </div>
        </div>

<!--        &lt;!&ndash; Pie Chart &ndash;&gt;-->
<!--        <div class="col-xl-4 col-lg-5">-->
<!--          <div class="card shadow mb-4">-->
<!--            &lt;!&ndash; Card Header - Dropdown &ndash;&gt;-->
<!--            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">-->
<!--              <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>-->
<!--              <div class="dropdown no-arrow">-->
<!--                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                  <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>-->
<!--                </a>-->
<!--                <div class="dropdown-menu dropdown-menu-right shadow animated&#45;&#45;fade-in" aria-labelledby="dropdownMenuLink">-->
<!--                  <div class="dropdown-header">Dropdown Header:</div>-->
<!--                  <a class="dropdown-item" href="#">Action</a>-->
<!--                  <a class="dropdown-item" href="#">Another action</a>-->
<!--                  <div class="dropdown-divider"></div>-->
<!--                  <a class="dropdown-item" href="#">Something else here</a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Card Body &ndash;&gt;-->
<!--            <div class="card-body">-->
<!--              <div class="chart-pie pt-4 pb-2">-->
<!--                <canvas id="myPieChart"></canvas>-->
<!--              </div>-->
<!--              <div class="mt-4 text-center small">-->
<!--                <span class="mr-2">-->
<!--                  <i class="fas fa-circle text-primary"></i> Direct-->
<!--                </span>-->
<!--                <span class="mr-2">-->
<!--                  <i class="fas fa-circle text-success"></i> Social-->
<!--                </span>-->
<!--                <span class="mr-2">-->
<!--                  <i class="fas fa-circle text-info"></i> Referral-->
<!--                </span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
    <!-- /.container-fluid -->


<script>

  var monthCount = '{{distinct_month_count}}';
  var scoreCount = '{{ distinct_id_count }}';


  var dates = [];
  var classObjects = {};
  var posObjects = {};
  var negObjects = {};

</script>

{% for date in distinct_months %}
<!--  <script>alert("{{ date }}")</script>-->
  <script>dates.push("{{ date }}");</script>
{% empty %}
      <script>dates.push(null);</script>
{% endfor %}

{% for class in class_results %}
<script>

    var classList = [];
    classList.push("{{ class.precision }}");
    classList.push("{{ class.recall }}");
    classList.push("{{ class.f1 }}");
    classList.push("{{ class.support }}");
    // classObjects["{{ class.id }}"] = classList;
    classObjects["{{ class.id }}"] = classList;

</script>
{% endfor %}

{% for pos in pos_results %}
<script>
    var posList = [];
    posList.push("{{ pos.precision }}");
    posList.push("{{ pos.recall }}");
    posList.push("{{ pos.f1 }}");
    posList.push("{{ pos.support }}");
    posObjects["{{ pos.id }}"] = posList;



</script>
{% endfor %}
{% for neg in neg_results %}
<script>

    var negList = [];
    negList.push("{{ neg.precision }}");
    negList.push("{{ neg.recall }}");
    negList.push("{{ neg.f1 }}");
    negList.push("{{ neg.support }}");

    negObjects["{{ neg.id }}"] = negList;

</script>
{% endfor %}
<script>
      var stuff = 2;
      function graphClickEvent(event){
            window.location.href = "{% url 'tracker-classTable' %}"
      }

      function printIndex(ind){
          // console.log(ind)
      }

</script>


<script src="{% static 'js/demo/chart-performance.js' %}"></script>


{% else %}
    <h1 class="text-center" ><a href="{% url 'login' %}">Login here</a></h1>
    <br>
    <h2 class="text-center"> <a href="{% url 'login' %}"> Request access </a> </h2>

{% endif %}

{% endblock content %}


