{% extends "tracker/base.html" %}

{% block custom_js %}

{% endblock custom_js %}


<style>
table {
  border-radius: 25px;
  border: 2px solid #73AD21;
}
</style>



{% block content %}


{% if user.is_authenticated %}
<div class="container-fluid">
            <h1 class="h3 mb-0 text-gray-800">Request Confirmed</h1>

  <div class="row card mb-4 py-3  border-bottom-success border-right-0">

    <table style="position: relative; margin-left: 10%" class="table table-responsive-md btn-table col-xl-9 " >
    <thead>
    <tr class="table-success">
    <th>Fields</th>
    <th colspan="2">User Information</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>First Name</td>
        <td>{{ request.name }}</td>
    </tr>
    <tr>
        <td>Surname</td>
        <td>{{ request.surname }}</td>
    </tr>
    <tr>
        <td>Contact Email</td>
        <td>{{ request.email }}</td>
    </tr>
    <tr>
        <td>Contact Number</td>
        <td>{{ request.contactNo }}</td>
    </tr>
    <tr>
        <td>Reason</td>
        <td>{{ request.reason }}</td>
    </tr>
    <tr>
        <td>Other Information</td>
        <td>{{ request.other }}</td>
    </tr>

    </tbody>
    </table>

</div>
</div>


        <a class="btn btn-success btn-sm mt-1 mb-1" style="position: relative; margin-left: 45%" href="/">OK</a>

{% else %}
    <h1 class="text-center" ><a href="{% url 'login' %}">Login here</a></h1>
    <br>
    <h2 class="text-center"> <a href="{% url 'request-create' %}"> Request access </a> </h2>

{% endif %}
{% endblock content %}

